<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="details/" method="post">
        {% csrf_token %}
    <table border="0" align="center">
        <tr>
            <td>
                <input type="text" placeholder="Name" name="t1" required>
            </td>
        </tr>
        <tr>
            <TD>
                <input type="number" placeholder="Age" name="t2" required>
            </TD>
        </tr>
        <tr>
            <td>
                <input type="number" placeholder="Contact No" name="t3" required>
            </td>
        </tr>
        <tr>
            <Td>
                <input type="submit" value="Send">
            </Td>
        </tr>
    </table>

    </form>
</body>
</html>