<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table align="center">
            <tr>
                <th> Collections </th>
            </tr>
            <tr>
                <Td>
                    List
                </Td>
            </tr>
             <tr>
                <Td>
                    Tuple
                </Td>
            </tr>

             <tr>
                <Td>
                    Set
                </Td>
            </tr>

             <tr>
                <Td>
                    Dict
                </Td>
            </tr>

             <tr>
                <Td>
                    String
                </Td>
            </tr>
        </table>
</body>
</html>